*{
    font-family: 'Courier New', Courier, monospace;
}
        .font-fredoka {
            font-family: 'Fredoka One', sans-serif;
        }

        .font-epilogue {
            font-family: 'Epilogue', sans-serif;
        }